.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  overflow: hidden;
  @include respond(phone) {
    padding: 20rem 0;
  }
}
.section-features {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  background-position: center;

  transform: skewY(-7deg);
  padding: 10rem 2rem;
  margin-top: -20vh;
  & > * {
    transform: skewY(7deg);
  }
  @include respond(phone) {
    padding: 5rem 0;
  }
}
.section-tours {
  margin-top: 4rem;
  padding: 2rem;
}
.section-commends {
  //   background-color: $color-grey-light-1;
  padding: 15rem 0;
  position: relative;
  @include respond(phone) {
    padding: 5rem 0;
  }
}
.section-booking {
  padding: 15rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  @include respond(phone) {
    padding: 5rem 1rem;
  }
}
