.footer {
  background-color: $color-secondary;
  grid-column: full-start/full-end;
  padding: 8rem;
}
.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  grid-gap: 1rem;
  &__link:link,
  &__link:visited {
    display: block;
    font-size: 1.4rem;
    font-family: $font-display;

    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    color: $color-secondary;
    font-weight: 400;
    background-color: rgba(#fff, 0.7);
  }
}
.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  text-align: center;
  margin-top: 6rem;
}
