.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;

  grid-row-gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-content: center;
}
.realtor {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  //   justify-items: center;
  align-items: center;
  &__img {
    width: 7rem;
    border-radius: 50%;
    grid-row: 1 / span 2;
    align-self: start;
  }
  &__text {
    font-size: 1rem;
    color: $color-grey-light-2;
    margin-top: -3px;
    text-transform: uppercase;
  }
}
