.booking {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url("/img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  height: 50rem;
  width: 100%;
  box-shadow: 0 2rem 4rem rgba(black, 0.25);
  &__form {
    width: 50%;
    padding: 5rem;
    @include respond(tab-port) {
      width: 80%;
    }
  }
  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 75%,
        transparent 75%
      ),
      url("/img/nat-10.jpg");
  }
}
.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
    @include respond(phone) {
      margin-bottom: 1rem;
    }
  }
  &__input {
    font-size: $default-font-size;
    font-family: inherit;
    color: inherit;
    backface-visibility: rgba(white, 0.5);
    border-radius: 2px;
    padding: 1.5rem 2rem;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    &::-webkit-input-placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2rem 4rem rgba(black, 0.25);
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.2s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0; // for animataion
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
.radio {
  &__group {
    width: 45%;
    display: inline-block;
  }
  &__input {
    display: none;
  }
  &__label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 3.5rem;
    @include respond(phone) {
      font-size: 1.2rem;
      padding-left: 2.8rem;
    }
  }
  &__btn {
    // broder:
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;
    @include respond(phone) {
      height: 2.5rem;
      width: 2.5rem;
      border: 3px solid $color-primary;
    }
    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
      @include respond(phone) {
        height: 0.8rem;
        width: 0.8rem;
      }
    }
  }
  &__input:checked ~ &__label &__btn::after {
    opacity: 1;
  }
}
